@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: 97 96 220;
    --color-secondary: 111 114 185;
    --color-success: 21 128 60;
    --color-info: 3 112 161;
    --color-warning: 180 132 9;
    --color-danger: 185 28 28;
    --color-divider: 203 215 250;

    --color-primary-50: 239 244 254;
    --color-primary-100: 226 233 253;
    --color-primary-200: 203 215 250;
    --color-primary-300: 172 188 245;
    --color-primary-400: 138 152 239;
    --color-primary-500: 110 118 230;
    --color-primary-600: 97 96 220;
    --color-primary-700: 70 67 191;
    --color-primary-800: 58 57 154;
    --color-primary-900: 52 52 123;
    --color-primary-950: 31 31 71;

    --color-secondary-50: 243 245 250;
    --color-secondary-100: 232 237 247;
    --color-secondary-200: 214 221 239;
    --color-secondary-300: 189 199 228;
    --color-secondary-400: 161 171 216;
    --color-secondary-500: 137 145 203;
    --color-secondary-600: 111 114 185;
    --color-secondary-700: 96 97 162;
    --color-secondary-800: 79 81 132;
    --color-secondary-900: 68 70 107;
    --color-secondary-950: 40 41 62;

    --color-success-50: 240 253 245;
    --color-success-100: 220 252 232;
    --color-success-200: 187 247 209;
    --color-success-300: 134 239 173;
    --color-success-400: 74 222 129;
    --color-success-500: 34 197 94;
    --color-success-600: 22 163 74;
    --color-success-700: 21 128 60;
    --color-success-800: 22 101 51;
    --color-success-900: 20 83 43;
    --color-success-950: 5 46 20;

    --color-info-50: 240 250 255;
    --color-info-100: 224 245 254;
    --color-info-200: 186 232 253;
    --color-info-300: 125 213 252;
    --color-info-400: 56 188 248;
    --color-info-500: 14 165 233;
    --color-info-600: 2 138 199;
    --color-info-700: 3 112 161;
    --color-info-800: 7 94 133;
    --color-info-900: 12 80 110;
    --color-info-950: 8 53 73;

    --color-warning-50: 255 249 235;
    --color-warning-100: 254 239 199;
    --color-warning-200: 253 221 138;
    --color-warning-300: 252 203 77;
    --color-warning-400: 251 191 36;
    --color-warning-500: 245 180 11;
    --color-warning-600: 217 158 6;
    --color-warning-700: 180 132 9;
    --color-warning-800: 146 109 14;
    --color-warning-900: 120 91 15;
    --color-warning-950: 69 51 3;

    --color-danger-50: 254 242 242;
    --color-danger-100: 254 226 226;
    --color-danger-200: 254 202 202;
    --color-danger-300: 252 165 165;
    --color-danger-400: 248 113 113;
    --color-danger-500: 239 68 68;
    --color-danger-600: 220 38 38;
    --color-danger-700: 185 28 28;
    --color-danger-800: 153 27 27;
    --color-danger-900: 127 29 29;
    --color-danger-950: 69 10 10;
  }
  .classic-corporate {
    --color-primary: 3 4 94;
    --color-secondary: 2 62 138;

    --color-primary-50: 241 243 255;
    --color-primary-100: 230 234 255;
    --color-primary-200: 208 216 255;
    --color-primary-300: 171 183 255;
    --color-primary-400: 123 135 255;
    --color-primary-500: 70 77 255;
    --color-primary-600: 36 32 255;
    --color-primary-700: 20 14 243;
    --color-primary-800: 16 11 204;
    --color-primary-900: 16 12 166;
    --color-primary-950: 3 4 94;

    --color-secondary-50: 235 249 255;
    --color-secondary-100: 210 241 255;
    --color-secondary-200: 175 232 255;
    --color-secondary-300: 120 220 255;
    --color-secondary-400: 57 197 255;
    --color-secondary-500: 11 162 255;
    --color-secondary-600: 0 126 255;
    --color-secondary-700: 0 101 255;
    --color-secondary-800: 0 83 212;
    --color-secondary-900: 2 62 138;
    --color-secondary-950: 7 46 100;
  }
  .tropical-sunset {
    --color-primary: 38 70 83;
    --color-secondary: 233 196 106;

    --color-primary-50: 240 250 251;
    --color-primary-100: 217 242 244;
    --color-primary-200: 183 228 234;
    --color-primary-300: 133 208 219;
    --color-primary-400: 76 178 196;
    --color-primary-500: 49 150 169;
    --color-primary-600: 43 121 143;
    --color-primary-700: 41 100 117;
    --color-primary-800: 41 83 97;
    --color-primary-900: 38 70 83;
    --color-primary-950: 20 45 56;

    --color-secondary-50: 253 249 237;
    --color-secondary-100: 248 237 205;
    --color-secondary-200: 240 217 151;
    --color-secondary-300: 233 196 106;
    --color-secondary-400: 226 171 61;
    --color-secondary-500: 218 141 38;
    --color-secondary-600: 193 108 30;
    --color-secondary-700: 160 79 29;
    --color-secondary-800: 131 62 29;
    --color-secondary-900: 108 51 27;
    --color-secondary-950: 61 25 11;
  }
  .gentle-breeze {
    --color-primary: 205 180 219;
    --color-secondary: 189 224 254;

    --color-primary-50: 251 248 252;
    --color-primary-100: 244 239 248;
    --color-primary-200: 236 226 242;
    --color-primary-300: 221 203 231;
    --color-primary-400: 205 180 219;
    --color-primary-500: 175 136 196;
    --color-primary-600: 153 109 176;
    --color-primary-700: 131 88 152;
    --color-primary-800: 110 76 125;
    --color-primary-900: 90 62 101;
    --color-primary-950: 61 36 71;

    --color-secondary-50: 239 248 255;
    --color-secondary-100: 219 237 254;
    --color-secondary-200: 189 224 254;
    --color-secondary-300: 147 207 253;
    --color-secondary-400: 96 179 250;
    --color-secondary-500: 59 148 246;
    --color-secondary-600: 37 118 235;
    --color-secondary-700: 29 96 216;
    --color-secondary-800: 30 78 175;
    --color-secondary-900: 30 68 138;
    --color-secondary-950: 23 43 84;
  }
  .forest-green {
    --color-primary: 96 108 56;
    --color-secondary: 188 108 37;

    --color-primary-50: 246 247 238;
    --color-primary-100: 234 237 218;
    --color-primary-200: 214 220 186;
    --color-primary-300: 187 197 145;
    --color-primary-400: 161 174 109;
    --color-primary-500: 132 147 79;
    --color-primary-600: 96 108 56;
    --color-primary-700: 79 90 49;
    --color-primary-800: 65 73 43;
    --color-primary-900: 56 63 40;
    --color-primary-950: 29 33 18;

    --color-secondary-50: 252 248 238;
    --color-secondary-100: 246 235 207;
    --color-secondary-200: 236 215 155;
    --color-secondary-300: 227 189 102;
    --color-secondary-400: 220 167 67;
    --color-secondary-500: 211 138 45;
    --color-secondary-600: 188 108 37;
    --color-secondary-700: 155 78 34;
    --color-secondary-800: 127 63 33;
    --color-secondary-900: 105 52 30;
    --color-secondary-950: 59 26 13;
  }
}
