@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: #ff73b3;
    --color-secondary: #6f72b9;
  }
  .classic-corporate {
    --color-primary: #03045e;
    --color-secondary: #023e8a;
    --color-success: #2a9d8f;
    --color-warning: #f4a261;
    --color-info: #219ebc;
    --color-danger: #e76f51;
    --color-divider: #bdbdbd;
  }
  .tropical-sunset {
    --color-primary: #264653;
    --color-secondary: #e9c46a;
    --color-success: #2a9d8f;
    --color-warning: #f4a261;
    --color-info: #219ebc;
    --color-danger: #e76f51;
    --color-divider: #bdbdbd;
  }
  .gentle-breeze {
    --color-primary: #cdb4db;
    --color-secondary: #bde0fe;
    --color-success: #2a9d8f;
    --color-warning: #f4a261;
    --color-info: #219ebc;
    --color-danger: #e76f51;
    --color-divider: #bdbdbd;
  }
  .forest-green {
    --color-primary: #606c38;
    --color-secondary: #bc6c25;
    --color-success: #2a9d8f;
    --color-warning: #f4a261;
    --color-info: #219ebc;
    --color-danger: #e76f51;
    --color-divider: #bdbdbd;
  }
}
/* Gentle Breeze
Tropical Sunset
Forest Green
Ocean Blue */